@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    animation: showsite 0.4s;
    animation-fill-mode: forwards ;
    opacity: 0.5;
    transform: scaleX(0);
}

html::-webkit-scrollbar {
    display: none;
}


@keyframes showsite {
    0%{
        opacity: 0.5;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
    
}
.link-a {
    font-family: Ubuntu, Arial;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    transition: all ease 0.3s;
    border-bottom: 4px dashed rgb(54, 54, 54);
}
.link-a:hover {
    color: #F6871F;
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 54, 54);
}

.active {
    color: #F6871F;
    border-bottom: 4px dashed #F6871F;
}

/* .active::after {
    position: absolute;
    content:"";
    background: #F6871F;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    left: -25px;
    top: 5px;
    z-index: 3;
} */

nav {
    background-color: rgb(54, 54, 54);
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: stretch;
    padding-right: 2rem;
}

.main-page {
    background-color: #F3FFDB;
    height: calc(100vh - 50px);
    background-repeat: no-repeat;
    block-size: contain;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

h1 {
    margin: 0px;
}


.section-l {
    max-width: 43%;
    align-self: center;
}
.section-r {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    justify-content: center;

}

.for-thl {
    color: #F6871F;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 3%;
    margin-bottom: 10%;
}

.for-thl::after {
    content: "";
    position: absolute;
    background-color: #25273A;
    height: 0.5%;
    width: 29%;
    display: flex;
    bottom: 35%;
}

h1 {
    color: #25273A;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 6rem;
    word-wrap: break-word;
}

.robot {
    width: 100%;
    /* height: 490px; */
    
}

.start {
    text-decoration: none;
    position: relative;
    font-size: 4rem;
    font-family: Ubuntu;
    font-weight: bold;
    color: #FFF;
    background-color: #F6871F;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 14%;
    border-radius: 60px;
    align-self: flex-start;
    text-transform: uppercase;
    /* width: 90%; */
    box-shadow: 0px 0px 0px 0px #ae3f20;
    transition: all ease 0.3s;
}

/* .start::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: url(../img/arrow.png);
    width: 25px;
    height: 20px;
    top: calc(50% - 10px);
    right: 30px;
    background-size: cover;
} */

.start:hover {
    box-shadow: 15px 12px 0px 0px #d25f3f;
}

@media screen and ( max-width: 960px) {
    html {
        font-size: 8px;
    }
}

.topics {
    background-color: #F6871F;
    /* list-style-type: none; */
    /* height: 90vh; */
    /* min-width: 30%; */
    /* width: 210px; */
    /* max-width: ; */
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 2;
    /* transition: all 1s ease; */
    /* height: calc(100vh - 50px); */
    height: 100%;
    resize:horizontal;
    overflow-x: hidden;
}

topics > ul {
    list-style: none;
}

#scrollbar1::-webkit-scrollbar {
    width: 12px;
}

#scrollbar1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #F6871F;
    border: 1px solid #F6871F;
}

#scrollbar1::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: content-box;
    background-color: #b44f34;
}

.topic {
    text-decoration: none;
    font-family: Ubuntu, Arial;
    color: rgb(54, 54, 54);
    font-weight: bold;
    font-size: 2rem;
    padding: 15px;
    /* padding-left: 5%; */
    word-break: normal;
    overflow-wrap: break-word;
    transition: all ease 0.3s;
}

.main-page-1 {
    background-color: #F3FFDB;
    background-repeat: no-repeat;
    height: calc(100vh - 50px);
    /* block-size: contain; */
    display: flex;

}

.simple-text {
    color: #25273A;
    font-family: Ubuntu;
    font-size: 1.8rem;
    word-wrap: break-word;
    padding-top: 15px;
    padding-left: 25px;
}

.sheme {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    padding-left: 25px;
    padding-top: 15px;
}

.main-page-2 {
    background-color: #F3FFDB;
    height: 90vh;
    /* block-size: contain; */
    width: 100%;
    height: calc(100vh - 50px);
}

.h1-another {
    color: rgb(54, 54, 54);
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 4rem;
    word-wrap: break-word;
    border-bottom: 3px solid #ae3f20;
    padding: 10px;
}

.topic-content {
    flex-grow: 1;
    /* width: calc(100% - 210px); */
    /* max-width: 100%; */
    overflow: hidden;
    /* height: calc(100vh - 50px); */
    height: 100%;
}

.topic-content-w {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 50px);
}

.small-topic {
    font-size: 1.8rem;
    line-height: 25px;
    text-decoration: none;
    font-family: Ubuntu, Arial;
    color: #FFF;
    /* font-weight: bold; */
    word-break: normal;
    overflow-wrap: break-word;
    
}

.color-change {
    /* background-color: #F6871F; */
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all ease 0.2s;
    border-bottom: 2px solid rgba(126, 77, 17, 0.395);
}

.active-link {
    background-color: #b44f34;
}

.color-change:hover {
    background-color: #b44f34;
}

.small-topic-2 {
    font-size: 3rem;
    padding-top: 15px;
    padding-left: 25px;
}

.teory {
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* overflow: hidden; */
    height: calc(100vh - 50px);
}

#scrollbar2::-webkit-scrollbar {
    width: 12px;
}

#scrollbar2::-webkit-scrollbar-track {
    background-color: #F3FFDB;
    border: 1px solid #F3FFDB;
}

#scrollbar2::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #F6871F;
}

.pad-bot {
    padding-bottom: 30px;
}

.linkk {
    padding: 15px;
    padding-left: 25px;
    font-family: Ubuntu, Arial;
    font-size: 1.8rem;
    color: #282424;
}

.copyright {
    position: absolute;
    font-size: 1.5rem;
    color: #F6871F;
    font-family: Ubuntu;
    font-weight: bold;
    top: 96%;
    left: 85%;
}

.boody {
    position: relative;
}

.active-b {
    margin-left: 2rem;
    width: 50px;
    background-color: transparent;
    border: none;
    outline: none; 
    display: flex;
    align-items: center;
}

.active-b > img {

    width: 80%;    
}

.passive-b > img{
    background-color: transparent;
    transform: rotate(-180deg);
}

.hidden {
    display: none;
}
